.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.bigboybanner {
  background-image:url('https://s3-us-std-103-prod.digitalhub.com/CAEQARoQT2NVodmE384g18qH5y0F9A/01f0d99353570c88f27b27a9c60ec82b4e073ca6d1/IMG_0195.JPG?v=0&p=3&x=1&a=BMQZFhvWzBssA5cFIw%3D%3D&e=1400015446000&r=79369bc8-5f25-4222-8c51-d03fe4ad4eec-38&u=1400007947257&c=CvsDCtcDCvoCCh11cy1vcmUtMDAwMDEuczMuYW1hem9uYXdzLmNvbRBQGgNHRVQiyQEvV1dwLTBmNEJSZmJHb2hnQk5jT2Y_eC1jbGllbnQtcmVxdWVzdC1pZD03OTM2OWJjOC01ZjI1LTQyMjItOGM1MS1kMDNmZTRhZDRlZWMmRXhwaXJlcz0xNDAwMDA3OTQ3JmJ5dGUtcmFuZ2U9NTQ5ODgtMTM3NjkyMCZBV1NBY2Nlc3NLZXlJZD1BS0lBSVdXUjMzRUNIS1BDMkxVQSZTaWduYXR1cmU9TGVyMjNpdW1qTEVGenk3JTJGTEYzZHJObEw0NXclM0QqBEhUVFAyAzEuMToEaHR0cEIrCgp4LWFtei1kYXRlEh1UdWUsIDEzIE1heSAyMDE0IDE4OjEwOjQ3IEdNVEIcCgVSYW5nZRITYnl0ZXM9NTQ5ODgtMTM3NjkyMEINCgZBY2NlcHQSAyovKkoJczNfdXNfb3JlUglzM191c19zdGRY-efnt98oEjAKFYHXQ2mrz5q7OCb8ieHERGVFhlxYohIRAdYwY86-citR5dT9lEYUirYYzddQIAAaFFdXcC0wZjRCUmZiR29oZ0JOY09mIhBBMkszUnBVYmY5dXBXd1VqEh8KFQHw2ZNTVwyI8nsnqcYOyCtOBzym0RIECAAQACgAIAI&s=NDSVI_NLafhf-o16_KbveJm2vkc');
  height: 500px;
}

.bigboybanner .container {
  position: relative;
  top:100px;
}

.bigboybanner h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 2px black
}

.bigboybanner p {
  font-size: 20px;
  color: #fff;
  text-shadow: 1px 1px 2px black
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.events {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}
.events h2 {
    color: #393c3d;
    font-size: 24px;
}

.events p {
    font-size: 15px;
    margin-bottom: 13px;
}
