.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.bigboybanner {
  background-image:url('../img/IMG_0195.JPG');
  background-position: 40% 0%;
  height: 500px;
}

.bigboybanner .container {
  position: relative;
  top:100px;
}

.bigboybanner h1 {
  color: #fff;
  font-size: 64px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-shadow: 4px 4px 2px black
}

.bigboybanner p {
  font-size: 32px;
  color: #fff;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 1px black
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.events {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}
.events h2 {
    color: #393c3d;
    font-size: 24px;
}

.events p {
    font-size: 15px;
    margin-bottom: 13px;
}
