.bigboybanner {
  background-image:url('../img/IMG_0195.JPG');
  background-position: 35% 0%;
  height: 500px;
}

.bigboybanner .container {
  position: relative;
  top:100px;
}

.bigboybanner h1 {
  color: #fff;
  font-size: 64px;  
  font-family: 'Fredericka the Great', cursive;
  text-shadow: 4px 4px 2px black
}

.bigboybanner p {
  font-size: 32px;
  color: #fff;
  font-family: 'Architects Daughter', cursive;
  text-shadow: 2px 2px 1px black
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Architects Daughter', cursive;
  font-size: 24px;
}

.learn-more a {
  color: #00b0ff;
}

.events {
    background-color: #eeeeee;
    border-bottom: 1px solid #dbdbdb;
}
.events h2 {
    font-family: 'Architects Daughter', cursive;
    color: #393c3d;
    font-size: 24px;
}

.events p {
    font-size: 15px;
    margin-bottom: 13px;
}
